<!--The content below is only a placeholder and can be replaced.-->
<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
      <div class="col-xs-12">
          <h3>Data Binding Example</h3>
          <hr>
          
          <app-user></app-user>
      </div>
  </div>
</div>
