<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <label for="userName">User name:</label>
    </div>
      <div class="col-xs-12" style="padding: 10px">
          <input type="text" class="form-control" [(ngModel)] = 'userName'
          (input) = 'isUserEmpty()' id="userName"/>
      </div>
      <div class="col-xs-12">
        <button class="btn btn-primary" (click) = 'clearUser()'
          [disabled] = '!allowClear'>
          Clear
        </button>
      </div>
  </div>
  <div class="row">
    <p>{{userName}}</p>
  </div>
</div>